<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
<body style="background-color: #F0F8FF; font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
            <td align="center" style="padding: 20px;">
                <table role="presentation" width="500" cellspacing="0" cellpadding="0" border="0" style="background-color: #fff; border-radius: 16px; box-shadow: 0 4px 10px rgba(0,0,0,0.2); padding: 40px; max-width: 90%;">
                    <tr>
                        <td align="center">
                            <h1 style="color: #333; font-size: 24px; font-weight: bold;">Recuperar Contraseña</h1>
                            <p style="color: #555;">Hola,  {{ user.username }}.<br><br>
                                Si deseas reestablercer tu contraseña para Dashboard, haz click en el siguiente botón
                            </p>
                            <br>
                            
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table role="presentation" width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                 <button><a href="{{ reset_link }}">Reestablecer contraseña</a></button>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table role="presentation" width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                 <h5>Si no has solicitado este correo, hacer caso omiso.</h5>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
